<odoo>
   <!--  parent menu with web_icon
   
      <menuitem id="menu_hospital_root"
      name="Hospital"
      web_icon="hospital,static/description/hospital_menu.png"
      sequence="1" /> -->

   <menuitem id="menu_hospital_root"
      name="Hospital"
      sequence="1" />

   <menuitem id="menu_patient_root"
      name="Patients Management"
      parent="menu_hospital_root"
      sequence="10" />

   <menuitem id="menu_patient"
      name="All Patients "
      parent="menu_patient_root"
      action="action_hospital_patient"
      sequence="10" />

   <menuitem id="menu_patient_female"
      name="Patients Female"
      parent="menu_patient_root"
      action="action_hospital_patient_female"
      sequence="11"
   />

   <menuitem id="menu_patient_kanban"
      name="Patients Kanban"
      parent="menu_patient_root"
      action="action_hospital_patient_kanban"
      sequence="12"
   />


</odoo>